.galaryimg{
   display: block;
    margin-left: 20px;
    width: 100px;
    height: 100px;
   
}
.galary{
    display: flex;
    justify-content: center;
    list-style: none;
}
.galary-item{
    margin-left: 20px;
  
}